.header{
    background: url("../imgs/head-bg.jpg") 0 0 no-repeat;
    background-size: cover;
}
header{
    height: 350px;
}
header>div{
    max-width: 600px;
    margin: 55px auto;
    text-align: center;
}
header>div h1{
    color: #fff;
    font-weight: bolder;
}
header>div h3{
    color: #fff;
    margin-bottom: 15px;
    font-size: 20px;
}
header>div .head-search-group{
    position: relative;
}
header>div .head-search-group .header-search{
    border-radius: 5px 5px 0 0;
    height: 35px;
    padding: 25px 10px;
}
header>div .head-search-group i{
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 15px;
    font-size: 20px;
}
header>div .header-tags{
    border-radius: 0 0 5px 5px ;
    padding: 0;
    list-style: none;
    display: flex;
    overflow: hidden;
}
header>div .header-tags>li{
    flex-grow: 1;
    white-space: nowrap;
    padding: 0;
    box-sizing: border-box;
}
header>div .header-tags>li:last-child a{
    border-right: none;
}
header>div .header-tags>li a{
    display: inline-block;
    width: 100%;
    font-size: 13px;
    background: rgba(255,255,255,.6);
    border-right: 1px solid rgba(0,0,0,.1);
    padding: 5px 0;
    color: #333;
    text-decoration: none;
    transition: all 500ms;
    box-sizing: border-box;
}
header>div .header-tags>li a:hover{
    background-color: rgba(255,255,255,.9);
}

.view-items .my-nav-tabs{
    border: none;
}
.view-items .nav-tabs>li{
    margin: 0;
    border: none;
}
.view-items .nav-tabs>li>a{
    padding: 15px 20px;
    border:none;
}
.view-items .nav-tabs>li.active>a{
    border: none;
    border-bottom: 2px solid #2aabd2;
}


img{
    vertical-align: top;
}

.tab-content .pic{
    position: relative;
    transition: all 0.5s;
}
.tab-content .pic .img-control{
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: all 0.5s;
    opacity: 0;
}
.tab-content .pic:hover{
    transform: scale(1.05);
}
.tab-content .pic:hover .img-control{
    opacity: 1;
 }
.tab-content .pic .img-control .user-name{
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}
.tab-content .pic .img-control i{
    color: #fff;
    font-size: 20px;
}
.tab-content .pictures{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tab-content .pictures .box{
    padding: 15px 0 0 15px;
}

.tab-content .pictures.pic{
    border-radius: 5px;
    background-color: #fff;
}

.tab-content .pictures .pic img{
    height: 216px;
}

.img-clicked{
    background-color: rgba(0,0,0,.35);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: scale(0);
}
.img-clicked > div{
    max-width: 800px;
    margin: 100px auto;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    position: relative;
}
.img-clicked > div> i{
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.img-clicked .img-preview-info{
    display: flex;
    justify-content: space-between;
}
.img-clicked .img-preview-info .img-content{
    width: 70%;
}
.img-clicked .img-preview-info .img-content>img{
    max-width: 530px;
}
.img-clicked .img-preview-info .img-content i{
    user-select: none;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
}
.img-clicked .img-preview-info .img-content .img-preview-control{
    position: relative;
}
.img-clicked .img-preview-info .img-content i:nth-child(1){
    right: 70px;
    top: -60px;
}
.img-clicked .img-preview-info .img-content i.active{
    color: red;
}
.img-clicked .img-preview-info .img-content i:nth-child(1) span, .img-clicked .img-preview-info .img-content i:nth-child(2) span{
    color: red;
    font-size: 10px;
    position: absolute;
    left: 4px;
    top: -15px;
    font-weight: bold;
    opacity: 0;
}
.img-clicked .img-preview-info .img-content i:nth-child(1) span.active, .img-clicked .img-preview-info .img-content i:nth-child(2) span.active{
    animation: upup .5s forwards;
}
@keyframes upup {
    0%{
        opacity: 0;
        top: 10px;
    }
    90%{
        opacity: 1;
        top: -15px;
    }
    100%{
        opacity: 0;
    }
}
.img-clicked .img-preview-info .img-content i:nth-child(2){
    right: 37px;
    top: -60px;
}
.img-clicked .img-preview-info .img-content i:nth-child(3){
    right: 5px;
    top: -60px;
}
.img-clicked .img-preview-info .img-tags{

}
.img-clicked .img-preview-info .img-tags ul{
    display: flex;
    padding: 0 10px;
    list-style: none;
    margin-top: 10px;
}
.img-clicked .img-preview-info .img-tags ul li{
    margin: 0 15px 0 0;
}
.img-clicked .img-preview-info .img-tags ul li a:hover{
    text-decoration: none;
}
.img-clicked .img-preview-info .img-right{
    width: 30%;
}
.img-clicked .img-preview-similar > ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.img-clicked .img-preview-similar > ul li img{
    height: 126px;
}

@keyframes out {
    0%{
        transform: scale(1);
        opacity: 1;
    }
    20%{
        transform: scale(1.15);
        opacity: 1;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}
@keyframes in {
    0%{
        transform: scale(0.3);
        opacity: 0;
        display: block;
    }
    80%{
        transform: scale(1.1);
        opacity: 1;
        display: block;
    }
    100%{
        transform: scale(1);
        opacity: 1;
        display: block;
    }
}
