.navbar-default.my-nav{
    color: #000;
    background-color: #222;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}
.navbar-default .my-brand{
    color: #fff;
}
.navbar-default .my-brand:hover{
    color: #fff;
}
.navbar-default .search-form{
    position: relative;
}
.navbar-default .search-content{
    border: 1px solid #555;
    background-color: #555;
    width: 450px;
    transition: all 800ms;
}
.navbar-default .search-content:focus{
    background-color: #fff;
    border: 1px solid #fff;
}
.navbar-default .search{
    cursor: pointer;
    position: absolute;
    top: 11px;
    right: 24px;
}
.navbar-default .my-navbar-right>li>a{
    color: #fff;
}
.navbar-default .my-navbar-right>li>img{
    height: 35px;
    margin-top: 7px;
}
.navbar-default .my-navbar-right>li>a:hover{
    color: #e6e6e6;
}
.navbar-default .my-navbar-right .dropdown.open>a {
    background-color: #222!important;
    color: #ffffff !important;
}
.navbar-default .my-navbar-right>li>span{
    position: relative;
    padding: 5px;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #fff;
}
.navbar-default .my-navbar-right>li>i{
    padding: 3px;
    position: absolute;
    height: 20px;
    min-width: 20px;
    top: 5px;
    right: -6px;
    color: #fff;
    border-radius: 999rem;
    background-color: orangered;
    font-size: 10px;
    line-height: 18px;
}
.navbar-default .my-navbar-right>li>.contribute{
    margin: 13px 0 8px 20px;
    padding: 1px 15px;
    background-color: #199ED8;
    font-weight: bold;
    color: white;
    border-radius: 999rem;
    outline: none;
}
header{
    margin-top: 50px;
    height: 200px;
    position: relative;
}
header>.header-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../imgs/head-bg.jpg") 0 0 no-repeat;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}
header>.header-userinfo{
    max-width: 600px;
    margin: 50px 20px;
    text-align: center;
}
header>.header-userinfo .profile{
    display: flex;
    justify-content: space-between;
}header>.header-userinfo .profile img{
     width: 100px;
 }
header>.header-userinfo .profile .profile-control > .profile-control-up{
    width: 40%;
    text-align: left;
    margin-top: 15px;
}
header>.header-userinfo .profile .profile-control > .profile-control-up span{
    color: #fff;
    font-size: 25px;
}
header>.header-userinfo .profile .profile-control > .profile-control-down{
    text-align: left;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}
header>.header-userinfo .profile .profile-control > .profile-control-down:hover{
    text-decoration: underline;
    color: #e8e8e8;
}
.view-items{
}
.view-items .my-nav-tabs{
    border: none;
}
.view-items .nav-tabs>li{
    margin: 0;
    border: none;
}
.view-items .nav-tabs>li>a{
    padding: 15px 20px;
    border:none;
}
.view-items .nav-tabs>li.active>a{
    border: none;
    border-bottom: 2px solid #2aabd2;
}


img{
    vertical-align: top;
}

.tab-content .pic{
    position: relative;
    transition: all 0.5s;
}
.tab-content .pic .img-control{
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: all 0.5s;
    opacity: 0;
}
.tab-content .pic:hover{
    transform: scale(1.05);
}
.tab-content .pic:hover .img-control{
    opacity: 1;
}
.tab-content .pic .img-control .user-name{
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}
.tab-content .pic .img-control i{
    color: #fff;
    font-size: 20px;
}
.tab-content .pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.tab-content .pictures .box{
    padding: 15px 0 0 15px;
}

.tab-content .pictures.pic{
    border-radius: 5px;
    background-color: #fff;
}

.tab-content .pictures .pic img{
    height: 216px;
}

.img-clicked{
    background-color: rgba(0,0,0,.35);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: scale(0);
}
.img-clicked{
    background-color: rgba(0,0,0,.35);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: scale(0);
}
.img-clicked > div{
    max-width: 800px;
    margin: 100px auto;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    position: relative;
}
.img-clicked > div> i{
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.img-clicked .img-preview-info{
    display: flex;
    justify-content: space-between;
}
.img-clicked .img-preview-info .img-content{
    width: 70%;
}
.img-clicked .img-preview-info .img-content>img{
    max-width: 530px;
}
.img-clicked .img-preview-info .img-content i{
    user-select: none;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
}
.img-clicked .img-preview-info .img-content .img-preview-control{
    position: relative;
}
.img-clicked .img-preview-info .img-content i:nth-child(1){
    right: 70px;
    top: -60px;
}
.img-clicked .img-preview-info .img-content i.active{
    color: red;
}
.img-clicked .img-preview-info .img-content i:nth-child(1) span, .img-clicked .img-preview-info .img-content i:nth-child(2) span{
    color: red;
    font-size: 10px;
    position: absolute;
    left: 4px;
    top: -15px;
    font-weight: bold;
    opacity: 0;
}
.img-clicked .img-preview-info .img-content i:nth-child(1) span.active, .img-clicked .img-preview-info .img-content i:nth-child(2) span.active{
    animation: upup .5s forwards;
}
@keyframes upup {
    0%{
        opacity: 0;
        top: 10px;
    }
    90%{
        opacity: 1;
        top: -15px;
    }
    100%{
        opacity: 0;
    }
}
.img-clicked .img-preview-info .img-content i:nth-child(2){
    right: 37px;
    top: -60px;
}
.img-clicked .img-preview-info .img-content i:nth-child(3){
    right: 5px;
    top: -60px;
}
.img-clicked .img-preview-info .img-tags{

}
.img-clicked .img-preview-info .img-tags ul{
    display: flex;
    padding: 0 10px;
    list-style: none;
    margin-top: 10px;
}
.img-clicked .img-preview-info .img-tags ul li{
    margin: 0 15px 0 0;
}
.img-clicked .img-preview-info .img-tags ul li a:hover{
    text-decoration: none;
}
.img-clicked .img-preview-info .img-right{
    width: 30%;
}
.img-clicked .img-preview-similar > ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.img-clicked .img-preview-similar > ul li img{
    height: 126px;
}

@keyframes out {
    0%{
        transform: scale(1);
        opacity: 1;
    }
    20%{
        transform: scale(1.15);
        opacity: 1;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}
@keyframes in {
    0%{
        transform: scale(0.3);
        opacity: 0;
        display: block;
    }
    80%{
        transform: scale(1.1);
        opacity: 1;
        display: block;
    }
    100%{
        transform: scale(1);
        opacity: 1;
        display: block;
    }
}
